body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Rajdhani', sans-serif;
	font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

            /*GENERALES*/

a {
    color: #00155a;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

            /*NAV*/

nav {
    display: block;
    height: 100px;
    background-color: #00155a;
    width: 100%;
    text-align: center;
}

nav div {
    justify-content: center;
    height: 100%;
    display: flex;
}

nav img{
    height: 80%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}

            /*Main*/

main{
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 50px;
    max-width: 650px;
}

.main-header h1{
    font-size: 35px;
    text-align: center;
}
main div p{
    text-align: center;
}


.formulario{
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
}


.formulario div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
}



.formulario input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    margin: auto;
}

.formulario button{
    margin: auto;
    padding: 10px 100px;
    background-color: #00155a;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.terminos{
    margin: 20px 10px;
    font-size: 12px;
    
}

            /*FOOTER*/

.main-footer {
    text-align: center;
    font-size: 15px;
}
.main-footer a{
    font-weight: bold;
}



.footer-links {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.links a{
    font-size: 11px;
    margin-left: 10px;
}

.footer-derechosdeautor {
    font-size: 11px;
}


            /*responcive*/

    @media screen and (max-width: 768px) {

        .footer-links {
            text-align: center;
        }
}







