* { 
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Varela Round', sans-serif;
	font-weight: 300;
}

body{
    background-color: #eee;
    margin: 0;
}

a {
    text-decoration: none;
}

            /*HEADER*/


.header{
    background-color: #00155a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    padding: 5px 1%;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

.header.invisible {
    top: -100px;
    transition: .5s ease-in-out;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
    margin: 5px;
}


.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin: 0px 15px;
}

.input-de-busqueda {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 10px;
    margin-left: 15px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    min-width: 100%;
}


.boton-buscar {
    padding: 0px;
    border: none;
    background-color: transparent;
    color: #00155a;
    cursor: pointer;
    font-size: 15px;
    transform: translateX(-25px);
    z-index: 1000;
}

.boton-buscar i:hover {
    transform: scale(1.2);
    transition: all 0.2s ease 0s; 
    cursor: pointer;
}


.info-nav {
    display: flex;   
    list-style: none;
    margin: 0px 5px;
    padding: 10px;
}


.info-nav li a{
    display: inline-block;
    color: #fff;
    width: 100%;
    margin-right: 15px;
    padding: 0px;
}


.info-nav li:hover{
    transition: all 0.2s ease 0s;
    transform: scale(1.1);
}

.menu-horizontal{
    display: none;
}



.header .btn-contacto button{
    margin: 0px 10px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.boton-informacion {
    display: none;
}



@media screen and (max-width: 768px) {

.info-nav {
    display: none;
}


.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 3px 3px 0px 3px;
    background-color: #fff;
    margin: 0px 10px;
    border-radius: 5px;;
}

.menu-horizontal > li:hover{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px 10px 0px 0px ;
    transform: scale(1.1);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
    border-radius: 0px 20px 20px 20px;
    transform: translate(-50%);
}

.menu-vertical li:hover{
    background-color: #00155a;
}

.menu-vertical li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

}


        /* GLOBAL */

.div-global {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.div-subglobal {
    flex-grow: 1;
}


        /*  INFORMACION DE CATEGORIAS   */


.contenido-categorias {
    max-width: 1100px;
    width: 100%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
}


.mostrador-categorias {
    width: 100%;
}


.mostrador-categorias .fila-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    margin-bottom: 10px;
}



.mostrador-categorias .fila-categorias .div-categorias {
    width: 100%;
    background: #fff;
    max-width: 190px;
    padding: 30px;
    height: 280px;
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #00155a 2px 1px 2px 2px;
    transition: .2s;
}



.mostrador-categorias .fila-categorias .div-categorias:hover {
    box-shadow: none;
}

.h2-mostrador {
    text-align: center;
    color: #00155a;
    font-size: 20px;
}

.contenedor-foto-categorias img {
    width: 90%;
    height: 90%;
}


.mostrador-categorias .fila-categorias .div-categorias .descripcion-categorias {
    color: #00155a;
    font-weight: bold;
    font-size: 13px;
    margin: 40% 0px;
    text-align: center;
}
.mostrador-categorias .fila-categorias .div-categorias .descripcion-categorias:hover {
    color: blue;
}

.descripcion-ingresar-perfil {
    color: #00155a;
    font-size: 13px;
    margin: 10px 0px;
    font-weight: bold;
}

.button-ingresar-cuenta {
    width: 80%;
    border: none;
    background-color: #00155a;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.button-ingresar-cuenta:hover {
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}


        /*INF-PRODUCTOS*/

.section-1  {
    margin-top: 10%;
    margin-bottom: 10%;

}

.section-h1 {
    text-align: center;
    margin-top: 100px; 
    font-size: 40px;
}

.inf-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 10px;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.product-container img {
    width: 250px;
    border-radius: 5px;

}

.product-container h2 {
    margin-bottom: 10px;
}

.button-add {
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
    color: #000;
    border: 2px solid #00155a;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
}

.button-add:hover {
    background-color: #00155a;
    color: #fff;
    cursor: pointer;
}

.contactoPublicitario {
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    margin: 90px 70px;
    border-radius: 10px;
    padding: 20px;
}
.contactoPublicitario:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
} 

.boton-contactar {
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
    color: #000;
    border: 2px solid #00155a;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
}

.boton-contactar:hover {
    background-color: #00155a;
    color: #fff;
    cursor: pointer;
}

/*FOOTER INFORMACION*/



        /* Estilo para el footer */
        footer {
            background-color: #00155a;
            color: #fff;
            padding: 30px 0;
            text-align: center;
            bottom: 0;
        }

        /* Estilo para el logotipo */
        footer .logo img{
            height: 70px;
            width: auto;
            transition: all 0.3s;
            border-radius: 50%;
            margin: 0px 0px 50px 0px;
        }

        /* Contenedor flex para organizar el contenido */
        .footer-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        /* Estilo para las secciones dentro del footer */
        .footer-section {
            flex: 1;
            margin: 0 20px;
            text-align: center;
            font-size: 14px;
        }

        .footer-section h4 {
            margin-bottom: 30px;
        }

        /* Estilo para los enlaces en el footer */


        .footer-links a {
            color: #fff;
            display: block;
            margin: 10px 0;
        }

        .footer-links a {
            color: #fff;
            text-decoration: none;
            display: block;
            margin: 10px 0;
        }
        .footer-links a:hover {
            text-decoration: underline;
        }

        /* Estilo para la información de contacto */
        .contact-info p {
            margin: 10px 0;
        }

        /* Estilo para el aviso de derechos de autor */
        .copyright {
            margin-top: 30px;
            font-size: 10px;
        }

        .footer-derechosdeautor {
            margin-top: 50px;
        }

        .footer-derechosdeautor a{
            color: #fff;
            margin: 10px;
            font-size: 11px;
        }

        .footer-derechosdeautor a:hover{
            text-decoration: underline;
        }

